.Admin-body {
	flex-direction: column;
	display: flex;
	align-items: center;
	background-image: url("../assets/summer.jpg");
	background-size: cover;
	object-fit: cover;
}
.title-container {
	margin-top: 4em;
}
.AdminUsers {
	margin: 4em 0;
	display: flex;
	flex-direction: column;
	border: 2px solid black;
	width: 40%;
	background-color: rgba(149, 179, 220, 0.732);
}

.UserContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 0.3em;
	background-color: rgba(222, 227, 226, 0.689);
}

.admin-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 400px;
	width: 100%;
	/* height: 70vh; */
	border: 2px solid rgb(114, 114, 114);
	background-color: rgba(102, 215, 221, 0.796);
	border-radius: 10%;
	margin-bottom: 2em;
}
.title {
	display: flex;
	justify-content: center;
}
.AdminForm-title {
	font-size: 132%;
	margin: 2em 0 2em 0;
}
.Isinvalid,
.invalid {
	border: 3px solid red;
}
.valid {
	border: 3px solid rgb(40, 219, 67);
}

.AdminUrl {
	width: 10em;
	display: flex;
}

textarea {
	padding: 0.2em 0 0 0.3em;
}

.deleteUserBtn-container {
	align-items: center;
	display: flex;
	padding-left: 1em;
}

.deleteUser {
	width: 6em;
	height: 2em;
}

.AdminForm-title{
	background-color: rgba(243, 232, 232, 0.792);
	padding: 0-3em 0.5em;
	border-radius: 3px; 
}


.message {
	color: green;
	font-size: 1.2rem;
	font-weight: bold;
	margin-top: 1rem;
	margin-bottom: 4em ;
}

.admin-button {
	transition: 0.5s all linear;
	/* other styles here */
} 
.admin-button:hover {
	transform: scale(1.2);
}
.adminFormBtn {
	margin-bottom: 3em;
	width: 60%;
	cursor: pointer;
	transition: 0.5s all linear;
}
.deleteForm{
	margin-bottom: 3em;
	width: 30%;
	cursor: pointer;
	transition: 0.5s all linear;
}

.adminFormBtn
	{
		background-image: linear-gradient(
			to right,
			#24c6dc 0%,
			#7d77bd 51%,
			#24c6dc 100%
		);
		margin: 10px;
		padding: 10px 25px;
		text-align: center;
		text-transform: uppercase;
		transition: 0.5s;
		background-size: 200% auto;
		color: white;
		box-shadow: 0 0 20px #eee;
		border-radius: 10px;
		display: block;
		border: none;
	}
	.adminFormBtn:hover{
		background-position: right center; /* change the direction of the change here */
		text-decoration: none;
		transform: scale(1.15);
	}

.formbtns{
	display: flex;
	width: 90%;
	flex-direction: row-reverse;
	justify-content: space-between;
}

@media screen and (max-width: 768px) {
	.AdminUsers {
		margin: 4em 0;
		display: flex;
		flex-direction: column;
		border: 2px solid black;
		width: 80%;
		background-color: rgba(149, 179, 220, 0.732);
	}
}
