* {
	box-sizing: border-box;
	margin: 0;
}

.CartIcon {
	color: rgba(0, 0, 0, 0.654);
	background-color: black;
}

/* --------------Header --------------- */
.header-body {
	background-color: rgb(53, 52, 52);
	display: flex;
	justify-content: space-around;
	height: 3em;
	transition: 0.5s all linear;
	/* opacity: 0.9; */
	align-items: center;
}

.link {
	color: white;
	text-decoration: none;
	margin: 2em;
}
.link:hover {
	color: rgb(70, 246, 246);
	box-shadow: 0.5em 0-5em 1.5em gray;
	transform: scale(0.9);
}

/* -------------- END Header --------------- */

/* -------------- HOME MAIN-CONTENT --------------- */

.home-container {
	background-image: url("../assets/paradise.jpg");
	background-size: cover;
	height: 94.7vh;
	width: auto;
}


.material-symbols-outlined:nth-of-type(4){
border: 2px solid green;
font-size: 28px;
}

/* .home-pic {
	width: 100%;

	object-fit: cover;
	background-repeat: no-repeat;
	background-size: cover;
} */

.content {
	background-color: antiquewhite;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 30%;
	left: 34%;
	/* transform: translate(-50%, -50%); */
	border-radius: 10%;
	max-width: 90%;
	padding: 1em;
	width: 23em;
}

.card{
	margin: 1em;
}

.title {
	margin: 0.5em 0;
	font-size: 1.2em;
}

.description {
	padding: 0.5em;
	text-align: justify;
	font-size: 0.9em;
}

@media screen and (max-width: 500px) {
	.home-pic {
		height: auto;
		margin-bottom: 1em;
	}

	.content {
		background-color: antiquewhite;
		display: flex;
		flex-direction: column;
		/* align-items: center; */
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 10%;
		max-width: 90%;
		padding: 1em;
		width: 23em;
	}
	.gone{
		display: none;
	}
}

/* -------------- END MAIN-CONTENT --------------- */

/* -------------- FOOTER --------------- */

.footer-body {
	background-color: rgba(0, 0, 0, 0.654);
	height: 5em;
	width: 100%;
	color: rgb(202, 197, 197);
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	left: 0;
	bottom: 0;
}

.openhour {
	font-size: 1.1em;
	margin-bottom: 0.3em;
}
.days {
	font-size: 0.9em;
}

/* -------------- END FOOTER --------------- */
